---
import { eq } from "astro:db";
import { db, Users } from "astro:db";
const userId = Astro.cookies.get("userId")?.value;

let users;
if (userId) {
  users = await db.select().from(Users).where(eq(Users.id, +userId));
}
---

<style is:global>
  @media (min-width: 1280px) {
    html,
    body {
      text-size-adjust: none;
      height: 100%;
      width: 100%;
      font-size: 24px;
    }
  }
  html,
  body {
    text-size-adjust: none;
    height: 100%;
    width: 100%;
    font-size: 30px;
  }
</style>
<h2 class="text-2xl font-bold text-center mt-10">User Data</h2>
<div class="flex w-full justify-center h-screen">
  <div class="flex flex-col w-fit items-center">
    <ul
      class="max-w-2xl mx-auto mt-6 mb-20 bg-white shadow-md rounded-md p-6 space-y-4"
    >
      {
        users.map((user) => (
          <li class="p-4 border border-gray-200 rounded-md">
            {Object.entries(user).map(([key, value]) => (
              <p>
                <strong>{key}:</strong> {value}
              </p>
            ))}
          </li>
        ))
      }
    </ul>
    <a
      href="/"
      class="w-80 bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 text-center"
      >Return to main</a
    >
  </div>
</div>
