---
Astro.cookies.delete("userId", { path: "/" });
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Fake site</title>
  </head>
  <body class="h-screen flex items-center justify-center bg-gray-100">
    <a
      href="/login"
      class="bg-blue-500 text-white py-3 px-6 rounded-md text-lg hover:bg-blue-600"
    >
      Let's begin
    </a>
  </body>
</html>
