---
import Layout from "../layouts/SiteLayout.astro";
Astro.cookies.delete("userId", { path: "/" });
export const prerender = true;
---

<Layout title="Home">
  <main class="h-screen flex items-center justify-center">
    <a
      href="/login"
      class="bg-blue-500 text-white py-5 xl:py-3 px-8 xl:px-6 rounded-2xl xl:rounded-md text-lg hover:bg-blue-600"
    >
      Let's begin
    </a>
  </main>
</Layout>
