---
import { db, Users } from "astro:db";
import Layout from "../layouts/SiteLayout.astro";
let errors = { name: "", email: "", form: "" };

if (Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();
    const name = formData.get("name");
    const email = formData.get("email");
    const address = formData.get("address");
    const tel = formData.get("tel");
    const country = formData.get("country");
    const postalCode = formData.get("postalCode");
    const cardNumber = formData.get("cardNumber");
    const cardExpDate = formData.get("cardExpDate");
    const yearOfBirth = formData.get("yearOfBirth");

    // Basic validation
    if (typeof name !== "string" || name.trim() === "") {
      errors.name = "Name is required.";
    }
    if (typeof email !== "string" || email.trim() === "") {
      errors.email = "Email is required.";
    }

    if (!errors.name && !errors.email) {
      const userIds = await db
        .insert(Users)
        .values({
          name,
          email,
          address,
          tel,
          country,
          postalCode,
          cardNumber,
          cardExpDate,
          yearOfBirth,
        })
        .returning({ insertedId: Users.id });
      Astro.cookies.set("userId", userIds[0].insertedId.toString(), {
        path: "/",
        httpOnly: true,
      });
      return Astro.redirect("/data");
    } else {
      errors.form = "Please correct the errors above.";
    }
  } catch (error) {
    console.error(error);
    errors.form = "An unexpected error occurred. Please try again.";
  }
}
---

<Layout title="Form">
  <main class="w-full h-screen flex flex-col justify-center">
    <form
      method="POST"
      class="relative w-2/3 xl:w-fit xl:min-w-96 mx-auto px-6 py-4 bg-white shadow-xl xl:shadow-md rounded-2xl xl:rounded-xl h-[21rem] xl:h-64 overflow-hidden"
    >
      <label
        for="name"
        class="block text-base xl:text-sm font-medium text-gray-700">Name</label
      >
      <input
        id="name"
        name="name"
        type="text"
        autocomplete="name"
        class="mt-1 block w-full p-4 xl:p-2 border border-gray-300 rounded-xl xl:rounded-md text-lg xl:text-sm"
        required
      />

      <label
        for="email"
        class="block text-base xl:text-sm font-medium text-gray-700 mt-4"
        >Email</label
      >
      <input
        id="email"
        name="email"
        type="email"
        autocomplete="email"
        class="mt-1 block w-full p-4 xl:p-2 border border-gray-300 rounded-xl xl:rounded-md text-lg xl:text-sm"
        required
      />

      <label
        for="address"
        class="block text-sm font-medium text-gray-700 mt-4 opacity-0"
        >Address</label
      >
      <input
        id="address"
        name="address"
        type="text"
        autocomplete="address-line1"
        class="mt-1 block w-full p-2 border border-gray-300 rounded-md opacity-0"
      />

      <label
        for="tel"
        class="block text-sm font-medium text-gray-700 mt-4 opacity-0"
        >Phone Number</label
      >
      <input
        id="tel"
        name="tel"
        type="tel"
        autocomplete="tel"
        class="mt-1 block w-full p-2 border border-gray-300 rounded-md opacity-0"
      />

      <label
        for="postalCode"
        class="block text-sm font-medium text-gray-700 mt-4 opacity-0"
        >Postal Code</label
      >
      <input
        id="postalCode"
        name="postalCode"
        type="text"
        autocomplete="postal-code"
        class="mt-1 block w-full p-2 border border-gray-300 rounded-md opacity-0"
      />

      <label
        for="country"
        class="block text-sm font-medium text-gray-700 mt-4 opacity-0"
        >Country</label
      >
      <input
        id="country"
        name="country"
        type="text"
        autocomplete="country"
        class="mt-1 block w-full p-2 border border-gray-300 rounded-md opacity-0"
      />

      <label
        for="cardNumber"
        class="block text-sm font-medium text-gray-700 mt-4 opacity-0"
        >Credit Card Number</label
      >
      <input
        id="cardNumber"
        name="cardNumber"
        type="text"
        autocomplete="cc-number"
        class="mt-1 block w-full p-2 border border-gray-300 rounded-md opacity-0"
      />

      <label
        for="cardExpDate"
        class="block text-sm font-medium text-gray-700 mt-4 opacity-0"
        >Credit Card Expiry Date</label
      >
      <input
        id="cardExpDate"
        name="cardExpDate"
        type="text"
        autocomplete="cc-exp"
        class="mt-1 block w-full p-2 border border-gray-300 rounded-md opacity-0"
      />

      <label
        for="yearOfBirth"
        class="block text-sm font-medium text-gray-700 mt-4 opacity-0"
        >Year of Birth</label
      >
      <input
        id="yearOfBirth"
        name="yearOfBirth"
        type="text"
        autocomplete="bday-year"
        class="mt-1 block w-full p-2 border border-gray-300 rounded-md opacity-0"
      />

      <button
        type="submit"
        class="absolute bottom-6 w-10/12 xl:w-[88%] bg-blue-500 text-white py-4 px-6 xl:py-3 xl:px-5 text-xl xl:text-sm rounded-xl xl:rounded-md hover:bg-blue-600 left-1/2 -translate-x-1/2"
        >Login</button
      >
    </form>
  </main>
</Layout>
